

body {
    background-color: hsla(64, 75%, 89%, 0.979);

}
h2 {
    font-size: 66px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 20px;
    color: hsla(263, 86%, 50%, 0.76);
    letter-spacing: 20px;
    text-shadow: 5px 5px hsla(133, 82%, 74%, 0.5);
}


table {
    margin-top: 25px;
    width: 100%;
    background-color: hsla(133, 82%, 74%, 0.5);
    justify-content: space-between;
}

button {
margin: 25px 25px 25px 25px;

}



