
body {
    background-color: hsla(64, 75%, 89%, 0.979);

}
li > img {
    height: 100px;
    width: auto;   
}

.fruit-list {
    background-color: hsl(0, 0%, 100%);
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      
   }

.fruitItem {
    border: solid 5px hsla(133, 82%, 74%, 0.5);
    text-align: center; 
    padding: 20px;
    margin: 10px;
    
}

button {
font-size: 13px;
}

h3 {
    font-size: 30px;
    padding-bottom: 10px;
}